@page
@using DAL;
@using LogicLayer.Classes;
@using LogicLayer.Controllers;
@using LogicLayer.Interfaces;
@model WebApp.Pages.MainModel
@{
    Layout = "_LayoutMain";
    @functions {
        static IMediaItemDAL iMediaItemDAL = new MediaItemDAL();
        static MediaItemController mediaController = new MediaItemController(iMediaItemDAL);
    }
}

<main>
    <div id="welcome-container">
        <div id="main-container">
            <h1>Welcome to Cinematic</h1>
        </div>
        <div class="main-picture">
            <img src="/images/MainPosterr.jpg" alt="Poster">
        </div>
    </div>

    <div id="movies-container">
        <div class="movies">
            @foreach (MediaItem m in Model.Results.Take(5))
            {
                if(m is Movie)
                {
                    Movie movie = m as Movie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@movie)" alt="Movie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()">@movie.Title</a></b></h5>
                        </div>
                    </div>
                }
                else if(m is Serie)
                {
                    Serie serie = m as Serie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@serie)" alt="Serie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()">@serie.Title</a></b></h5>
                            <h6><i>@(((Serie)serie).Seasons) seasons</i></h6>
                        </div>
                    </div>
                }


            }


        </div>
        <div class="movies">
            @foreach (MediaItem m in Model.Results.Skip(5).Take(5))
            {
                if (m is Movie)
                {
                    Movie movie = m as Movie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@movie)" alt="Movie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()">@movie.Title</a></b></h5>
                        </div>
                    </div>
                }
                else if (m is Serie)
                {
                    Serie serie = m as Serie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@serie)" alt="Serie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()">@serie.Title</a></b></h5>
                            <h6><i>@(((Serie)serie).Seasons) seasons</i></h6>
                        </div>
                    </div>
                }


            }


        </div>
        <div class="pagination">
            @if (Model.TotalPages > 1)
            {
                @if (Model.CurrentPage > 1)
                {
                    <a asp-page="/Main" asp-route-searchTerm="@Request.Query["searchTerm"]" asp-route-pageIndex="1">First</a>
                    <a asp-page="/Main" asp-route-searchTerm="@Request.Query["searchTerm"]" asp-route-pageIndex="@(Model.CurrentPage - 1)">Previous</a>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <span class="current-page">@i</span>
                    }
                    else
                    {
                        <a asp-page="/Main" asp-route-searchTerm="@Request.Query["searchTerm"]" asp-route-pageIndex="@i">@i</a>
                    }
                }

                if (Model.CurrentPage < Model.TotalPages)
                {
                    <a asp-page="/Main" asp-route-searchTerm="@Request.Query["searchTerm"]" asp-route-pageIndex="@(Model.CurrentPage + 1)">Next</a>
                    <a asp-page="/Main" asp-route-searchTerm="@Request.Query["searchTerm"]" asp-route-pageIndex="@Model.TotalPages">Last</a>
                }
            }
        </div>


    </div>


</main>
