@page
@using DAL;
@using LogicLayer.Classes;
@using LogicLayer.Controllers;
@using LogicLayer.Interfaces;
@model WebApp.Pages.MovieInfoModel
@{
    Layout = "_LayoutMain";

    @functions {
        static IReviewDAL iReviewDAL = new ReviewDAL();
        static ReviewController reviewController = new ReviewController(iReviewDAL);
        static IMediaItemDAL iMediaItemDAL = new MediaItemDAL();
        static MediaItemController mediaController = new MediaItemController(iMediaItemDAL);
        static IUserDAL iuserDAL = new UserDAL();
        static UserController userController = new UserController(iuserDAL);
    }
}


<main class="main-book-info">
    <div class="cover">
        <img src="data:image;base64,@mediaController.GetMediaItemImageByID(@Model.Movie.GetId())" alt="Movie cover" style="padding:10px">
    </div>
    <div class="information">
        <h3><b>@Model.Movie.Title</b></h3><br>
        <h6><i>Director: </i>@((Movie)Model.Movie).Director</h6>
        <p>Description:</p>
        <p>@Model.Movie.Description</p>
        @{
            string genresString = string.Join(", ", Model.Movie.GetAllGenres());
        }
        <p><b>Genres :</b> @genresString</p>
        <p><b>Rating :</b> @Model.Movie.Rating</p>
        <p><b>Writer(s) :</b> @((Movie)Model.Movie).Writer</p>
        <p><b>Cast :</b> @Model.Movie.Cast.ToString()</p>
        <p><b>Release date :</b> @((Movie)Model.Movie).DateOfComingOut.ToString("dd-MM-yyyy")</p>
        <p><b>Country of origin :</b> @Model.Movie.CountryOfOrigin</p>
        <p><b>Duration : </b>@((Movie)Model.Movie).Duration</p>

        @{
            if (mediaController.GetAllGivenRatings(@Model.Movie.GetId()).Length != 0)
            {
                foreach (int rating in mediaController.GetAllGivenRatings(@Model.Movie.GetId()))
                {
                    Model.Movie.AddRating(rating);
                }
                <p>
                    <b> User given rating:</b> @Model.Movie.CalculateAverageRating()

                </p>
            }
            else
            {
                <p> <b>User given rating:</b> no reviews yet.</p>
            }
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {

        <br />
        <div id="writeReview">
            <a asp-page="/ReviewPage" asp-route-bookId="@Model.Movie.GetId()" class="btn btn-primary">Write a review</a>
        </div>
        <form method="post">
            <button type="submit" name="productId" value="@Model.Movie.GetId()">Add to Favorites</button>
        </form>

    }

</main>
<br />
