@page
@using DAL;
@using LogicLayer.Classes;
@using LogicLayer.Controllers;
@using LogicLayer.Interfaces;
@model WebApp.Pages.TrendingModel
@{
    Layout = "_LayoutMain";
    @functions {
        static IMediaItemDAL iMediaItemDAL = new MediaItemDAL();
        static MediaItemController mediaController = new MediaItemController(iMediaItemDAL);
    }
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<main>
    <div id="welcome-container">
        <div id="main-container">
            <h1>Trending now!</h1>
            <h6>Check out the most popular movies/series on our website at the moment!</h6>  
        </div>
        <div class="main-picture">
            <img src="/images/MainPosterr.jpg" alt="Poster">
        </div>
    </div>

    <div id="movies-container">
        <div class="picksTitle">
            <h4>Daily picks</h4>
        </div>
        <div class="topPicks">
            @foreach (MediaItem m in Model.MoviesTrendingDaily.Take(5))
            {
                if (m is Movie)
                {
                    Movie movie = m as Movie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@movie)" alt="Movie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()">@movie.Title</a></b></h5>
                            <h6><i>@movie.CalculatePopularityScore(DateTime.Today, LogicLayer.TimePeriod.Day).ToString()</i></h6>
                        </div>
                    </div>
                }
                else if (m is Serie)
                {
                    Serie serie = m as Serie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@serie)" alt="Serie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()">@serie.Title</a></b></h5>
                            <h6><i>@serie.CalculatePopularityScore(DateTime.Today, LogicLayer.TimePeriod.Day).ToString()</i></h6>
                            <h6><i>@(((Serie)serie).Seasons) seasons</i></h6>
                        </div>
                    </div>
                }

            }


        </div>

        <div class="picksTitle">
            <h4>Weekly picks</h4>
        </div>        
        <div class="topPicks">
            @foreach (MediaItem m in Model.MoviesTrendingWeekly.Take(5))
            {
                if (m is Movie)
                {
                    Movie movie = m as Movie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@movie)" alt="Movie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()">@movie.Title</a></b></h5>
                        </div>
                    </div>
                }
                else if (m is Serie)
                {
                    Serie serie = m as Serie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@serie)" alt="Serie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()">@serie.Title</a></b></h5>
                            <h6><i>@(((Serie)serie).Seasons) seasons</i></h6>
                        </div>
                    </div>
                }
            }



        </div>
 
        <div class="picksTitle">
            @{
                var englishCulture = new System.Globalization.CultureInfo("en-US");
                var formattedMonth = DateTime.Now.ToString("MMMM", englishCulture);
            }

            <h4>Monthly picks for @formattedMonth</h4>
        </div>
         <div class="topPicks">
            @foreach (MediaItem m in Model.MoviesTrendingMonthly.Take(5))
            {
                if (m is Movie)
                {
                    Movie movie = m as Movie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@movie)" alt="Movie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./MovieInfoPage" asp-route-id="@movie.GetId()">@movie.Title</a></b></h5>
                        </div>
                    </div>
                }
                else if (m is Serie)
                {
                    Serie serie = m as Serie;

                    <div class="movie">
                        <div class="image-grid">
                            <a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()" target="_blank">
                                <img src="data:image;base64,@mediaController.GetMediaItemCompressedImageByID(@serie)" alt="Serie cover">
                            </a>
                        </div>
                        <div class="movie-text p-1">
                            <h5><b><a asp-page="./SerieInfoPage" asp-route-id="@serie.GetId()">@serie.Title</a></b></h5>
                            <h6><i>@(((Serie)serie).Seasons) seasons</i></h6>
                        </div>
                    </div>
                }
            }



        </div>

    </div>


</main>
